python-dotenv
pandas
numpy
pymongo
certifi
pymongo[srv]==3.11
scikit-learn
dill
pyaml
mlflow

# -e .

## this -e . is helps in referring to the setup.py
## when we write the pip install -r requiremnts.txt it will refer to setup.py
